html {
    font-family: arial,sans;
    min-height: 100%;
}

body {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
}

#presentacion {
    margin-top: 10px;
    font-size: 16pt;
    margin-bottom: 50px;
}

#menu a:visited {
    color: #FFFDFD;
}

#flotadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flotador {
    font-size: 12pt;
    margin: 10px 10px 10px 10px;
}

.flotador h1 {
    font-family: arial black, 'arial bold', Gadget, sans-serif;
    font-size: 16pt;
}

#contact li {
    margin: 10px 10px 0 0;
}

/* Pagina */

#contenido-pagina h1 {
    font-family: arial black;
    font-size: 24pt;
}
#contenido-pagina p {
    padding-top: 10px;
}

#contenido-pagina b {
    font-weight: bold;
}

#contenido-pagina ul {
    margin-left: 20px;
}

#contenido-pagina li {
    list-style-type: disc;
    list-style-position: outside;
}

#firma {
    text-align: right;
    font-weight: bold;
}

@media only screen and (min-width:1023){
#menu {
    position: absolute;
    top: 0px;
    height: 100%;
    left: -200px;
    width: 240px;
    background-color: #000000;
    color: #FFFDFD;
    display: block;
    z-index: 1;

}

#hamburguesa {
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 38px;
    background: url(hamburguesa.png);
}

#hamburguesa:hover {
    cursor: pointer;
}

#bandera {
    position: absolute;
    display: block;
    right: 0px;
    top: 40px;
    width: 40px;
    height: 38px;
    background: url(es.svg);
    background-size: 40px 38px;
}

#bandera:hover {
    cursor: pointer;
}

#contenido-menu {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 5px;
    right: 40px;
    color: white;
}

#contenido-menu li {
    padding-bottom: 10px;
}

#contenido-menu a:link {
    color: white;
    text-decoration: none;
}

#contenido-menu a:hover {
    color white;
    font-weight: bold;
}

#cuerpo {
    display: block;
    position: absolute;
    top: 0px;
    left: 40px;
    width: 984px;
    padding-bottom: 300px;
}

#jumbo {
    background: url(jumbo984.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 656px;
}

#presentacion {
    margin-top: 308;
}


#columna {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#anagrama {
    background: url(anagrama.png);
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    height: 190px;
    position: absolute;
    top: 550px;
}
.flotador {
    width: 280px;
}
/* Pagina */

#anagrama-pagina {
    display: block;
    width: 300px;
    height: 96px;
    background: url(anagrama-pagina.png);
    position: relative;
    left: -40px;

}
}



@media only screen and (min-width: 768px) {

#menu {
    position: absolute;
    top: 0px;
    height: 100%;
    left: -200px;
    width: 240px;
    background-color: #000000;
    color: #FFFDFD;
    display: block;
    z-index: 1;

}

#hamburguesa {
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 38px;
    background: url(hamburguesa.png);
}

#hamburguesa:hover {
    cursor: pointer;
}

#bandera {
    position: absolute;
    display: block;
    right: 0px;
    top: 40px;
    width: 40px;
    height: 38px;
    background: url(es.svg);
    background-size: 40px 38px;
}

#bandera:hover {
    cursor: pointer;
}

#contenido-menu {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 5px;
    right: 40px;
    color: white;
}

#contenido-menu li {
    padding-bottom: 10px;
}

#contenido-menu a:link {
    color: white;
    text-decoration: none;
}

#contenido-menu a:hover {
    color white;
    font-weight: bold;
}

#cuerpo {
    display: block;
    position: absolute;
    top: 0px;
    left: 40px;
    width: 728px;
    padding-bottom: 300px;
}

#jumbo {
    background: url(jumbo984.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 492px;
}

#presentacion {
    margin-top: 308;
}


#columna {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#anagrama {
    background: url(anagrama.png);
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    height: 190px;
    position: absolute;
    top: 550px;
}
.flotador {
    width: 280px;
}
/* Pagina */

#anagrama-pagina {
    display: block;
    width: 300px;
    height: 96px;
    background: url(anagrama-pagina.png);
    background-repeat: no-repeat;
    position: relative;
    left: -40px;

}
}


@media only screen and (max-width: 767px) {
#container{
    position: absolute;
    top: 0px;
    width: 100%;
}

#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #000000;
    color: #FFFDFD;
    display: block;
    z-index: 1;

}

#hamburguesa {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 38px;
    background: url(hamburguesa.png);
    z-index: 2;
}

#bandera {
    position: absolute;
    display: block;
    top: 0px;
    left: 40px;
    width: 40px;
    height: 38px;
    background: url(es.svg);
    background-size: 40px 38px;
    z-index: 2;
}

#hamburguesa:hover {
    cursor: pointer;
}


#contenido-menu {
    position: absolute;
    top: -100px;
    left: 0px;
    right: 0px;
    height: 80px;
    padding-top: 60px;
    padding-left: 60px;
    color: white;
    background-color: black;
}

#contenido-menu li {
    padding-bottom: 10px;
}

#contenido-menu a:link {
    color: white;
    text-decoration: none;
}

#contenido-menu a:hover {
    color white;
    font-weight: bold;
}


#cuerpo{
    margin-top: 40px;
}

#jumbo {
    background: url(jumbo768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
}

#anagrama {
    background: url(anagrama-movil.png);
    margin-left: auto;
    margin-right: auto;
    width: 310;
    height: 369;
    top: 400px;
}
#presentacion {
    margin: 40px 10px 0px 10px;
}

.flotador {
    width: 90vw;
}
/* Pagina */

#anagrama-pagina {
    display: block;
    width: 300px;
    height: 96px;
    background: url(anagrama-pagina.png);
    background-repeat: no-repeat;
    padding: 30px 0 10px 10px;

}

#contenido-pagina {
    padding: 0 10px 100px 10px;
}


